@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-main: #ffffff;
  --light-highlight: #e8e5df;

  --dark-main: #222831;
  --dark-highlight: #393E46;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
    width: 100vw;
    height: 100vh;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}
